/* xl */
@media only screen and (min-width : 1200px) {
	
	.paso-datos{
		padding-bottom:0;
	}
	
}

/* lg */
@media only screen and (max-width : 1199px) {
	
	.home-azul h1{
		font-size: 34px;
		line-height:38px;
	}
	.links a span{
		margin-left: 15px;
		font-size: 15px;
	}
	.paso-datos{
		padding:45px 0 0 45px;
	}
	
	.resultado-query{
		padding:35px 0 30px 0;
	}
	.resultado-query p,
	.resultado-query a{
		float: left !important;
		width: 100% !important;
	}
	.resultado-query a{
		margin-top: 15px;
	}
	.resultado-query span{
		margin:0 10px 10px 0;
	}
	
}

/* md */
@media only screen and (max-width : 991px) {
	
	.espacio{
		padding:3rem 0;
	}
	.espacio-top{
		padding:3rem 0 0 0;
	}
	
	a.nav-link{
		padding:30px 0 !important;
		border-top:solid 1px #eee;
	}
	li.nav-item:first-child a.nav-link{
		border-top:0;
	}
	li.nav-item:last-child a.nav-link{
		padding:30px 0 30px 0 !important;
	}
	
	.home-azul{
		padding:0 0 30rem 0;
	
		background:#656b7a url(../img/2.jpg) no-repeat center bottom;
		background-size: 991px;
	}
	.home-azul header{
		padding:60px 0;
	}
	.home-azul h1{
		font-size: 46px;
		letter-spacing:-0.075rem;
		line-height:50px;
	}
	.home-azul form{
		margin:0;
		padding:30px;
	}
	
	.home-servicios .text-center{
		text-align: left !important;
	}
	.home-servicios img{
		margin-top: 45px;
		width: 45px;
	}
	.home-servicio:first-child img{
		margin-top: 0px;
	}
	.home-servicios h3{
		margin-top: 15px;
	}
	
	.links{
		padding:30px 0;
	}
	.links .text-center, .links .text-right{
		text-align: left !important;
	}
	.link a {
		padding:30px 0;
		border-bottom:solid 1px rgba(255,255,255,0.2);
	}
	.link:last-child a{
		border-bottom:0 !important;
	}
	.links a span{
		margin-left: 24px;
		font-size: 15px;
		letter-spacing:0;
	}
	
	.paso-header{
		margin-bottom: 15px;
	}
	.paso-datos{
		padding:18px 0 0 0;
	}
	
	.linea-de-puntos{
		background:url(../img/linea-vertical.png) repeat-y 38px 0;
		background-size: 3px;
	}
	.mt-5.linea-de-puntos{
		margin-top: 30px !important;
	}
	
	.resultado-circulos a,
	.resultado-circulos .text-center{
		text-align: left !important;
	}
	
	.resultado-circulos a{
		display:block !important;
		padding:30px 0;
		clear: both;
		float: none;
	}
	.resultado-circulos .text-center:first-child a{
		padding-top:0 !important;
	}
	
	.resultado-circulos a img{
		float: left;
		display:inline-block !important;
		width: 50px !important;
	}
	.resultado-circulos a span{
		float: left;
		display:inline-block !important;
		margin:0 0 0 30px;
		height: 50px !important;
		line-height: 50px !important;
	}
	
	nav.nav-faq{
		display:block;
		margin-bottom: 30px;
	}
	nav.nav-faq a{
		padding:10px 0;
	}

	.contacto{
		background:none;
		padding-bottom:45px;
	}
	.contacto h1{
		margin-top: 45px !important;
	}

	.contacto form{
		margin-top: 30px;
		padding:30px;
	}
	.staff h2{
		margin-top: 60px;
	}
	.staff-item img{
		margin-bottom: 15px;
	}
	.staff-item h3{
		font-size: 18px;
	}
	.staff-item p{
		display:block;
		margin-bottom: 45px;
		font-size: 15px;
		line-height:20px;
	}
	
}

/* sm */ 
@media only screen and (max-width : 767px) {
	
	body{
		padding:0;
	}
	.menu{
		position:static;
		min-height: auto;
	}
	.menu a.navbar-brand img{
		width: 50px !important;
	}
	
	.home-azul h1{
		font-size: 28px;
		letter-spacing:-0.075rem;
		line-height:40px;
	}
	
	.footer a img{
		width: 85% !important;
	}
	a.logo-nodos{
		margin-top:3px;
	}
	a.whatsapp{
		bottom:15px;
		right:50%;
		margin-right: -30px;
		padding:1rem;
	}
	
	.resultado-query span{
		margin:0 15px 15px 0 !important;
		font-size: 12px;
	}
	.resultado-circulos.espaciomin{
		padding: 3rem 0;
	}
	.resultado-circulos h1{
		margin-bottom: 30px;
	}
	.paso-datos{
		padding:30px;
	}
	.contenido{
		padding:30px;
	}
	a.pdf{
		margin:15px 0;
	}
	
	.staff h2{
		margin-top: 75px;
	}
	.contacto nav{
		padding:1rem 0 0 0;
	}
	
}

/* xs */ 
@media only screen and (max-width : 575px) {}