/**************************************************************************************
Defaults 
***************************************************************************************/

html {
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
}

.ventana {
    border: 0px solid #aaaaaa;
}

.validar {
    border: 1px solid #d1cccc;
}

body {
    overflow-x: hidden;
    min-height: 850px;
    background: #656b7a url(../img/h1_hero.png) no-repeat center;
    background-size: 1920px;
    color: rgb(31, 30, 30);
    font-family: 'Alata', sans-serif;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
}

a,
button {
    cursor: pointer;
    /*text-decoration:none;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;*/
}

a:hover,
a:focus,
button:focus {
    text-decoration: none;
    outline: none;
}

a:hover {
    color: #2069e2;
    text-decoration: none;
}

p,
li {}

p {
    line-height: 23px;
    display: block;
    margin: 0 0 15px 0;
}

p a {
    color: #2069e2;
}

hr {
    margin: 30px 0;
    border-color: #ddd;
}

hr.hrcorta {
    width: 100px;
    margin: 30px 0;
    border-color: #ddd;
}

h1,
h2,
h3,
h4,
h6 {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.05rem;
    line-height: 30px;
}

.volanta {
    color: #999;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
}

figure {
    margin: 0 !important;
}

input,
select.custom-select {
    font-size: 14px !important;
}

input.form-control::-webkit-input-placeholder,
textarea.form-control::-webkit-input-placeholder,
textarea.form-control,
select.custom-select {
    color: #6b6969;
    text-shadow: 0;
    font-size: 13px;
}

button {
    border: none;
}


/**************************************************************************************
Bootstrap Overwrites
***************************************************************************************/


/**************************************************************************************
Custom Classes
***************************************************************************************/

.carga-datos {
    min-height: 850px;
    background: #656b7a url(../img/h1_hero.png) no-repeat center top;
    background-size: 1920px;
}

.relativo {
    position: relative;
}


/* Start of "Micro clearfix" */

.cf {
    zoom: 1;
}

.cf:before,
.cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}


/* End of "Micro clearfix" */

.pr {
    position: relative;
}

.bl {
    display: block;
    width: 100%;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.npl {
    margin-top: 0 !important;
    margin-bottom: 15px !important;
    padding-left: 0 !important;
}

.npr {
    margin-top: 0 !important;
    margin-bottom: 15px !important;
    padding-right: 0 !important;
}

.noleft {
    padding-left: 0 !important;
}

.noright {
    padding-right: 0 !important;
}

.no-vert {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.espacio {
    padding: 6rem 0;
}

.espacio-top {
    padding-top: 6rem;
}

.espacio-bottom {
    padding-bottom: 6rem;
}

.espaciomin {
    padding: 4.5rem 0;
}

.full-height,
.half-height {
    position: relative;
}

.col5 {
    float: left;
    display: block;
    padding-right: 15px;
    padding-left: 15px;
    width: 20%;
}

.imgfull {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}

.half {
    width: 50%;
}

.imgbordershadow {
    box-shadow: 0px 0px 40px 0px rgba(50, 50, 50, 0.2);
}

.nobo {
    border: none !important;
}

.border-top {
    border-top: 1px solid #eee;
}

.limit {
    display: block;
    width: 100%;
    overflow: hidden;
}

.grow {
    transition: all .5s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
}

.table-responsive-wrapper {
    display: block;
    width: 100%;
    overflow-x: none;
}

.boton {
    display: inline-block;
    background: #0a4dc1;
    border-radius: 5px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 5px;
}

.boton:hover {
    background: rgb(255, 255, 255);
    color: rgb(15, 6, 6);
}


/**************************************************************************************
Ventanilla Única
***************************************************************************************/

body {
    padding: 135px 0 0 0;
}

.footer {
    padding: 45px 0;
    background: #303336 url(../img/borde.png) no-repeat center bottom;
    background-size: 1920px;
}

.footer a:hover img {
    opacity: 0.5;
}

a.logo-nodos {
    display: block;
    margin-top: 10px;
}

.links {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b81c4e+0,e44d36+100 */
    background: #b81c4e;
    /* Old browsers */
    background: -moz-linear-gradient(left, #b81c4e 0%, #e44d36 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #b81c4e 0%, #e44d36 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #b81c4e 0%, #e44d36 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#b81c4e', endColorstr='#e44d36', GradientType=1);
    /* IE6-9 */
}

.links a {
    display: block;
    padding: 38px 0;
}

.links a img {
    display: inline-block;
    vertical-align: top;
}

.links a span {
    display: inline-block;
    margin-left: 20px;
    height: 24px;
    line-height: 24px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -0.05rem;
}

.links a:hover span {
    color: #fff389;
}

a.whatsapp {
    z-index: 2;
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 1rem;
    background: #7ad06d;
    border-radius: 30px;
    box-shadow: none;
}

a.whatsapp:hover {
    background: #10dbac;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
}

a.whatsapp img {
    width: 30px;
}

.blanco {
    background: white;
}

.home-servicios h3 {
    margin-top: 41px;
    font-size: 18px;
}

.home-servicios a {
    text-decoration: underline;
}

.home-azul {
    min-height: 850px;
    background: #656b7a url(../img/2.jpg) no-repeat center top;
    background-size: 1810px;
}

.home-azul header {
    display: block;
    padding: 114px 55px 15px 0;
}

.home-azul h1 {
    color: #ffe400;
    font-size: 42px;
    letter-spacing: -0.075rem;
    line-height: 52px;
    text-transform: uppercase;
}

.home-azul h2 {
    margin-top: 15px;
    color: white;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
}

.home-azul hr {
    display: block;
    margin: 37px 0;
    width: 50px;
    height: 3px;
    background: #fff2b7;
}

.home-azul h3 {
    color: white;
    font-family: 'Alata', sans-serif;
    font-weight: 400;
    font-size: 25px;
    letter-spacing: 0;
    line-height: 33px;
}

#ingreso {
    margin: 300px 0 300px 0;
    padding: 45px;
    background: white;
    border-radius: 15px;
    -webkit-box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.15);
}

.home-azul h4 {
    margin-bottom: 30px;
    font-size: 15px;
    letter-spacing: -0.015rem;
}

.home-azul h5 {
    color: white;
    font-family: 'Alata', sans-serif;
    margin-bottom: 30px;
    font-size: 1.25rem;
    letter-spacing: -0.015rem;
}

.home-azul input,
.contacto input,
.home-azul select {
    height: 45px;
    border-radius: 15px;
    color: #313131;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: bolder;
}

.home-azul select {
    margin-top: 15px;
}

.home-azul input[type=submit],
#comprobar_si_alumno,
#spinner {
    display: block;
    height: 45px;
    width: 100%;
    margin-top: 30px;
    background: #871c28 url(../img/flecha-blanca.png) no-repeat 92% 46%;
    background-size: 17px;
    border-radius: 15px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: auto;
    text-align: center;
    border: none !important;
}

.home-azul button:hover,
.contacto button:hover {
    background: #67151F url(../img/flecha-blanca.png) no-repeat 92% 46%;
    background-size: 17px;
}

.form-group {
    margin-bottom: 0 !important;
}

.contacto textarea {
    height: 225px;
    border-radius: 15px;
    color: #313131;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: bolder;
}

.sf-input-select {
    display: block;
    font-size: 13px;
    font-family: sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em 1em;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #ced4da;
    box-shadow: none;
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat, repeat;
    background-position: right 1.5em top 50%, 0 0;
    background-size: .65em auto, 100%;
}

.sf-input-select::-ms-expand {
    display: none;
}

.sf-input-select:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
    outline: none;
}

.sf-input-select option {
    font-weight: normal;
}

.menu {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    min-height: 135px;
    background: white url(../img/borde.png) no-repeat center top;
    background-size: 1920px;
    box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.1);
}

.menu .navbar {
    padding: 0px;
}

.menu .bg-light {
    background: white !important;
}

.menu a.navbar-brand {
    padding: 5px 0;
}

.menu a.navbar-brand img {
    width: 70px !important;
}

a.nav-link {
    padding: 0 0 0 3rem !important;
    color: #271b1c !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.025rem;
    text-transform: uppercase;
}

a.nav-link:hover {
    color: #0a4dc1 !important;
}


/*Resultado*/

.boton-anterior {
    display: block;
    height: 45px;
    width: 100%;
    margin-top: 30px;
    background: #9ca8bc url(../img/flecha-blanca-anterior.png) no-repeat 12% 46%;
    background-size: 17px;
    border-radius: 15px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 45px;
    text-align: center;
}

.boton-anterior:hover {
    background: #8e9bb2 url(../img/flecha-blanca-anterior.png) no-repeat 12% 46%;
    background-size: 17px;
    color: white;
}

.boton-siguiente {
    display: block;
    height: 45px;
    width: 100%;
    margin-top: 30px;
    background: #871c28 url(../img/flecha-blanca.png) no-repeat 92% 46%;
    background-size: 17px;
    border-radius: 15px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 45px;
    text-align: center;
}

.boton-siguiente:hover {
    background: #67151F url(../img/flecha-blanca.png) no-repeat 92% 46%;
    background-size: 17px;
    color: white;
}

.boton-desactivado,
.boton-desactivado:hover {
    background: #c5cddc;
    cursor: default;
    color: #d7deea !important;
}

.gris {
    background: #f1f3f4;
}

.paso-datos {
    display: block;
    padding: 75px;
}

.paso-datos h2 {
    font-size: 18px;
}

.paso-datos p {
    display: block;
    font-size: 17px;
    line-height: 32px;
}

.paso-datos p a {
    color: #0a4dc1;
}

.contenido {
    padding: 60px;
}

.accordion .contenido {
    padding: 30px;
}

.contenido h3 {
    display: block;
    color: #8f1c25;
}

.contenido p {
    display: block;
    padding: 0 0 20px 0;
    font-size: 17px;
    line-height: 27px;
    color: #555;
}

.contenido p strong {
    color: black;
}

.contenido p a:hover {
    text-decoration: underline;
}

.contenido ul {
    padding: 0 0 20px 0;
    list-style: none;
}

.contenido ul li {
    display: block;
    padding: 0 0 15px 35px;
    background: url(../img/flecha-azul.png) no-repeat 0 8px;
    background-size: 18px;
    font-size: 17px;
    color: #555;
}

a.pdf {
    display: block;
    margin: 30px 0 0 0;
    padding: 0 0 0 36px;
    height: 26px;
    background: url(../img/icono-pdf.png) no-repeat 0 0;
    background-size: 22px;
    font-size: 17px;
    line-height: 26px;
}

a.pdf:hover {
    color: #2069e2;
    text-decoration: underline;
}

.paso-numero {
    display: block;
    height: 50px;
    width: 50px;
    background: white;
    border-radius: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bolder;
    line-height: 50px;
    text-align: center;
}

h2.paso-titulo {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bolder;
    line-height: 50px;
}

p.paso-subtitulo {
    display: block;
    line-height: 50px;
}

.resultado-grafico {
    display: block;
    height: 207px;
    width: 100%;
    background: url(../img/resultado-grafico.png) no-repeat center top;
    background-size: 1920px;
}

.borde-arriba {
    border-top: solid 1px #d6deea;
}

.resultado-circulos p {
    font-size: 17px;
}

.resultado-circulos a span {
    display: block;
    margin-top: 1rem;
    color: #0a4dc1;
    font-size: 17px;
    font-weight: bolder;
}

.resultado-circulos a:hover span {
    text-decoration: underline;
}

.linea-de-puntos {
    background: url(../img/linea.png) repeat-x 0 40%;
    background-size: 13px;
}

a.paso-activo {
    cursor: text !important;
}

a.paso-activo img {
    filter: gray;
    /* IE6-9 */
    -webkit-filter: grayscale(1);
    /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(1);
    /* Microsoft Edge and Firefox 35+ */
}

a.paso-activo span {
    color: gray !important;
    text-decoration: none !important;
}

.resultado-query {
    padding: 45px 0 30px 0;
    background: #0a4dc1 url(../img/sombra.png) repeat-x 0 0;
    background-size: 10px;
}

.resultado-query p {
    float: left;
    display: block;
    height: 25px;
    margin-right: 15px;
    color: white;
    font-weight: bolder;
    font-size: 14px;
    line-height: 25px;
}

.resultado-query span {
    float: left;
    display: block;
    margin: 0 5px 5px 0;
    padding: 0 10px;
    height: 25px;
    background: white;
    border-radius: 15px;
    color: #271b1c;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 10px;
    letter-spacing: 0;
    line-height: 25px;
    text-transform: uppercase;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.resultado-query a {
    float: right;
    display: block;
    height: 25px;
    color: #ffe400;
    font-size: 14px;
    font-weight: bolder;
    line-height: 25px;
    text-decoration: underline;
}

.resultado-query a:hover {
    color: yellow;
}


/*FAQ*/

.interna h1 {
    color: #271b1c;
    font-size: 20px;
    letter-spacing: 0;
}

nav.nav-faq a {
    display: block;
    padding: 15px 0;
    color: #0a4dc1;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

nav.nav-faq a:hover {
    text-decoration: underline;
}

a.nav-faq-actual {
    color: #271b1c !important;
}

input.faq-buscar {
    height: 45px;
    background: #9dacc7 url(../img/icono-lupa.png) no-repeat 97% 12px;
    background-size: 20px;
    border: 0;
    border-radius: 15px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    text-indent: 15px;
}

input.faq-buscar:focus {
    background: #606e89 url(../img/icono-lupa.png) no-repeat 97% 12px;
    background-size: 20px;
    color: white;
}

input.faq-buscar::-webkit-input-placeholder {
    color: white;
    text-shadow: 0;
}

nav.paginacion a {
    display: inline-block;
    padding: 5px;
    color: #006cff;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: bolder;
    text-transform: uppercase;
}

nav.paginacion a:hover {
    text-decoration: underline;
}

a.paginacion-actual {
    color: black !important;
}


/* Contacto */

.staff {
    background: url(../img/bg-azul.png);
}

.staff h2 {
    color: white;
    font-size: 20px;
    letter-spacing: 0;
}

.staff h2 span {
    color: #accaff;
}

.staff-item img {
    display: block;
    margin-bottom: 30px;
    height: 160px;
    width: 160px;
    border-radius: 160px;
}

.staff-item h3 {
    margin-bottom: 0;
    color: white;
    font-size: 16px;
    letter-spacing: 0;
}

.staff-item p {
    color: #a5b5e1;
    font-size: 13px;
    line-height: 18px;
}

.contacto {
    background: url(../img/bg-azul.png) no-repeat center bottom;
    background-size: 1920px;
}

.contacto hr {
    display: block;
    margin: 45px 0;
    height: 3px;
    width: 50px;
    background: white;
}

.contacto p {
    display: block;
    margin-bottom: 30px;
}

.contacto p strong {
    display: block;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

.contacto p a {
    color: #006cff !important;
    text-decoration: underline;
}

.contacto p a:hover {
    color: black !important;
}

.contacto nav {
    display: block;
    padding: 0 0 0 2rem;
}

.contacto nav a {
    display: block;
    margin-bottom: 45px;
}

.contacto nav a img {
    display: inline-block;
}

.contacto nav a span {
    display: inline-block;
    margin-left: 15px;
    text-decoration: underline;
}

.contacto nav a:hover span {
    color: black;
}

.contacto form {
    display: block;
    padding: 45px;
    background: white;
    border-radius: 15px;
    box-shadow: 0px 0px 40px 0px rgba(50, 50, 50, 0.1);
}

.contacto form h4 {
    margin-bottom: 30px;
    font-size: 15px;
    letter-spacing: 0;
}

.contacto input {
    margin-bottom: 15px;
}

.contacto .alert {
    border-radius: 15px;
}


/* Estilos para el Formulario de Inscripcion */

#regForm {
    background-color: #ffffff;
    margin: 100px auto;
    padding: 40px;
    width: 70%;
    min-width: 300px;
}


/* Style the input fields 
  input {
	padding: 10px;
	width: 100%;
	font-size: 17px;
	font-family: Raleway;
	border: 1px solid #aaaaaa;
  }
  */


/* Mark input boxes that gets an error on validation: */

input.invalid {
    /* background-color: #ffdddd;*/
    background-color: #fc7070;
}


/* Hide all steps by default: */

.tab {
    display: none;
}


/* Make circles that indicate the steps of the form: */

.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}


/* Mark the active step: */

.step.active {
    opacity: 1;
}


/* Mark the steps that are finished and valid: */

.step.finish {
    background-color: #4CAF50;
}


/* The switch - chebox REDONDEADO */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 25px;
}


/* Hide default HTML checkbox */

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 7px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #108605;
}

input:focus+.slider {
    box-shadow: 0 0 1px #108605;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}